<div class="wrapper">
  <section class="benefits">
    <div class="container flex">
      <div class="text">
        <h2>What are the benefits?</h2>
        <ul class="benefits">
        <li><strong>Predictable costs.</strong> Convenient, fixed monthly payments.</li>
        <li><strong>Flexible support plan.</strong> No contract.</li>
        <li><strong>All you need</strong> to do your best work, together in one package.</li>
        <li><strong>Work seamlessly</strong> from your computer, phone or tablet.</li>
        <li><strong>Cooperative partnership</strong> with IT Solver.</li>
        <li><strong>Automatic fixes</strong> before impacting your workflow.</li>
        <li><strong>Cloud solutions</strong> free your work, go mobile.</li>
        <li><strong>Best practices</strong> implemented into your business.</li>
        <li><strong>Evolving protection</strong> against cyber threats.</li>
        <li><strong>Happier staff</strong> with technology that exceeds expectation.</li>
        </ol>
      </div>
    </div>
  </section>
</div>
