<div class="wrapper">
  <section class="benefits">
    <div class="container flex">
      <div class="image why">
        <img src="/assets/images/staff-angus-440.jpg" alt="Angus, your dedicated computer technician">
      </div>
      <div class="text">
        <h2>Why IT Solver?</h2>
        <ul class="benefits">
          <li>🚀
            <strong>Make tech work its best for you and your business.</strong></li>
          <li>👈
            <strong>Angus could be your dedicated tech consultant.</strong></li>
          <li>💻
            <strong>Ongoing tech advice</strong> for all the popular apps.</li>
          <li>👌
            <strong>Evolving protection</strong> against cyber threats.</li>
          <li>🌏
            <strong>Work anywhere</strong> from your computer, phone or tablet.</li>
          <li>🏁
            <strong>24/7 Support</strong> helps you cross the finish line.</li>
        </ol>
      </div>
      
    </div>
  </section>
</div>
