<section class="testimonial">
  <div class="container flex">
    <div class="testimonial-block">
      <blockquote>
        <p class="">Angus is always happy and helpful. He has managed to work with professional and knowledgeable attitude, while still explaining things in terms that are understandable to me. I thank him for his patience and support in helping us upgrade our computer system and related work practices.</p>
        <p class="author">Chris Rice, Statewide Roofing</p>
      </blockquote>
    </div>
  </div>
</section>
