<div class="wrapper">
  <section class="what">
    <div class="container flex">
      <div class="text">
        <h3>Small Business IT Support and Solutions</h3>
        <p>
          We provide IT support for small businesses in Brisbane, Gold Coast, and Sunshine Coast.
          We are experts at setting up businesses on Google Workspace or Microsoft 365. We also take care of Mac (Apple
          devices, iCloud), Windows (laptops and desktops), iOS (iPhone and iPad) and Android (Samsung phones and
          tablets). We can also help with your printer, scanner, and other devices.
        </p>
        <h3>Included and Excludes Requests</h3>
        <p>
          Just like the french toast and barista coffee, there are some items we don't include in the IT buffett (Support Plans).
          See <a href="https://itsolver.net/support-plan-requests">list of included and excluded requests</a>.
        </p>
        <p><strong>Questions?</strong> Call <a href="tel:+61731236000">07 3123 6000</a></p>

      </div>
      <div class="image google-cloud-partner-logo">
        <img class="lozad" data-src="/assets/images/google-cloud-partner-logo.png" data-alt="Google Cloud Partner Logo"
          alt="Google Cloud Partner Logo" />
      </div>
    </div>
  </section>
</div>
