<div class="wrapper">
  <section class="what">
  <div class="container flex">
    <div class="text">
      <h2>Premium IT support on-demand or on a subscription</h2>
      <p>Get instant help or stay ahead of the curve with a business support plan.</p>
      <p>Our business is transparent, with upfront pricing, no lock in contracts, just the peace of mind that your tech expert can deliver.</p>
    </div>
    <div class="image google-cloud-partner-logo">
      <img src="/assets/images/google-cloud-partner-logo-big.png" alt="Google Cloud Partner Logo">
    </div>
  </div>
  </section>
</div>