<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Material+Icons" as="fetch" crossorigin="anonymous">
  <script type="text/javascript">
  !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro|Material+Icons",r="__3perf_googleFonts_3ff63";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
  </script>
  <!-- End of code snippet for Google Fonts -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://www.itsolver.net/the_favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.itsolver.net/the_favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.itsolver.net/the_favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.itsolver.net/the_favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://www.itsolver.net/the_favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.itsolver.net/the_favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://www.itsolver.net/the_favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.itsolver.net/the_favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="https://www.itsolver.net/the_favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="https://www.itsolver.net/the_favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="https://www.itsolver.net/the_favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="https://www.itsolver.net/the_favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://www.itsolver.net/the_favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="IT Solver"/>
  <meta name="msapplication-TileColor" content="#e6e7e8" />
  <meta name="msapplication-TileImage" content="https://www.itsolver.net/the_favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="https://www.itsolver.net/the_favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="https://www.itsolver.net/the_favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="https://www.itsolver.net/the_favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="https://www.itsolver.net/the_favicon/mstile-310x310.png" />
  <meta name="theme-color" content="#f7941d">{% seo %} {% feed_meta %}

<!-- Inline navigation css for landing page that's missing from critical inlined css. Load remaining CSS for non-landing pages.  -->
<!-- For quicker stylesheet changes in local dev, only inline css in production for landing page  -->
{% if page.header_class == "landing" and jekyll.environment == "production"  %}
<style>.nav-open .nav-bar.wrapper .main, .nav-open .nav-bar.wrapper .right {display: block;}</style>
{% else %}
{% assign style_css = site.data.css-manifest['main.css'] | default: 'main.css' | prepend: 'assets/stylesheets/' | relative_url %}
<link rel="stylesheet" href="{{ style_css }}">
{% endif %}

<!-- site verifications -->
{% if site.google_verification %}
<meta name="google-verification" content="{{ site.google_site_verification }}">
{% endif %}
{% if site.bing_site_verification %}
<meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
{% endif %}
{% if site.alexa_site_verification %}
<meta name="alexaVerifyID" content="{{ site.alexa_site_verification }}">
{% endif %}
{% if site.yandex_site_verification %}
<meta name="yandex-verification" content="{{ site.yandex_site_verification }}">
{% endif %}
<!-- Pinterest verification -->
<meta name="p:domain_verify" content="7e80672a9fef4e57a48e31b67591b38e"/>

<!-- start Google Analytics code -->

{% if site.environment == 'production' and site.google_analytics_key != '' %}
  <script>
    if(navigator.userAgent.indexOf("Speed Insights") == -1) {
      (function (e, a, t, n, c, o, s) {
          e.GoogleAnalyticsObject = c, e[c] = e[c] || function () {
                  (e[c].q = e[c].q || []).push(arguments)
              }, e[c].l = 1 * new Date, o = a.createElement(t), s = a.getElementsByTagName(t)[0], o.async = 1, o.src =
              n, s.parentNode.insertBefore(o, s)
      })(window, document, "script", "//www.google-analytics.com/analytics.js", "ga"), ga("create",
          "{{ site.google_analytics_key }}", "auto"), ga("send", "pageview")
    }
  </script>
{% endif %}
<!-- end Google Analytics code -->
<!-- Start of itsolver Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=c44057aa-14e8-45c1-88b1-5122f5e8eeeb"> </script>
<!-- End of itsolver Zendesk Widget script -->
</head>
