---
title: Service Plans
heading: hide-heading
description:
faq:
  - question: What things will you do?
    answer: Lots of stuff! <a href="/on-demand-tasks/">Check out the full list here</a>.
  - question: What is a user?
    answer: A user is defined as one personalized email address (you@yourcompany). Group email aliases such as sales@yourcompany and support@yourcompany are free and don't count as additional users.
  - question: Do you offer email accounts?
    answer: Yes. You may <a href="/cloud-apps-g-suite/">purchase email accounts separately</a>.
  - question: How do I buy and pay?
    answer: Choose plan above and complete the sign up form. Payment details will be requested when we call you shortly. We accept Visa and Mastercard.
  - question: What is the payment plan?
    answer: We offer a flexible payment plan. You can add and delete users at anytime. You are billed monthly. For more information on pricing, <a href="https://itsolver.net/contact/">contact sales</a>.
  - question: What is the rate for customers not on a service plan?
    answer: $168 per hour. Billed by the minute, 1 hour minimum. 
  - question: Is there a call out fee for on-site work?
    answer: There is no call out fee for Business and Premium plans as on-site labour is included. But for the Solo Plan, travel time is billed at the hourly rate of $99 per hour.
  - question: What is your service area for on-site support?
    answer: <a href="/service-area">Here is a list of suburbs</a> serviced by the Business and Premium plan. Let's talk if you're outside of this area.
  - question: Have more questions?
    answer: <a href="/contact/">Contact us</a>.
common-features:
  - feature: Business grade antivirus by Bitdefender
  - feature: Cloud security by Cisco Umbrella
  - feature: Software updates
  - feature: 24x7 Monitoring to detect issues
  - feature: Automatically resolve issues
---
<section class="pricing-section">
    <h2 class="pricing-section-title">Choose the plan that’s right for you or your business.</h2>
    <div class="pricing">
        {% for column in site.data.service-plans %}

        <div class="pricing-item">
                {% for plan in column.plan %}
                {% if plan.name %}{% assign {{ service-plan-name = plan.name %}
            <div class="pricing-item-section">
                <h3 class="pricing-title">{{ plan.name }}</h3>
        {% endif %}
                {% if plan.fee %}
                <div class="pricing-price"><span class="pricing-currency">$</span>{{ plan.fee }}{% endif %}{% if plan.period %}<span class="pricing-period">{{plan.period}}</span></div>
                <ul class="pricing-feature-list">
                {% endif %}
                {% if plan.feature %}
                    <li class="pricing-feature">{{ plan.feature }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>
        <a class="plan-button" href="/register-{{ service-plan-name | downcase }}">CHOOSE PLAN</a>
        </div>
        {% endfor %}
    </div>
</section>
{% if page.common-features %}
<div class="container common-feature-list" id="common-feature-list">
    <section>
    <h2>Powerful Features Included in All Plans</h2>
    <ul class="list-items">
        {% for item in page.common-features %}
        <li>{{ item.feature }}</li>
        {% endfor %}
    </ul>
    </section>
</div>
{% endif %}

{% if page.faq %}
	<h2>Service Plans FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}