<input type="checkbox" id="ac-ln-menustate" class="ac-ln-menustate">
<div id="ac-ln-sticky-placeholder" class="css-sticky"></div>

<nav id="ac-localnav" class="(none) js no-touch css-sticky" lang="en-US" role="navigation" data-sticky="">
        <div class="ac-ln-wrapper">
            <div class="ac-ln-background"></div>
            <div class="ac-ln-content">
                <h2 class="ac-ln-title">
                    <a class="ac-ln-title-logo" href="/legal/">Legal</a>
                </h2>
    
                <div class="ac-ln-menu (none)">
    
                    <div class="ac-ln-menu-tray">
                        <a href="#ac-ln-menustate" class="ac-ln-menucta-anchor ac-ln-menucta-anchor-open" id="ac-ln-menustate-open">
                            <span class="ac-ln-menucta-anchor-label">Open Menu</span>
                        </a>
                        <a href="#" class="ac-ln-menucta-anchor ac-ln-menucta-anchor-close" id="ac-ln-menustate-close">
                            <span class="ac-ln-menucta-anchor-label">Close Menu</span>
                        </a>

                        <ul class="ac-ln-menu-items">
                            
                            
                            
                            <li class="ac-ln-menu-item">
                            
                                   <a href="/legal" class="ac-ln-menu-link">Service Plan</a>
                            
                            </li>
                        
                            <li class="ac-ln-menu-item">
                            
                                   <a href="/remote-support/legal" class="ac-ln-menu-link">Remote Support</a>
                            
                            </li>
                        
                            <li class="ac-ln-menu-item">
                            
                                   <a href="/privacy" class="ac-ln-menu-link">Privacy</a>
                            
                            </li>
                        </ul>
                    </div>
    
                    <div class="ac-ln-actions">
                        <div class="ac-ln-action ac-ln-action-menucta" aria-hidden="true">
                            <label for="ac-ln-menustate" class="ac-ln-menucta">
                                <span class="ac-ln-menucta-chevron"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</nav>
<label id="ac-ln-curtain" for="ac-ln-menustate"></label>
<script type="text/javascript" src="/scripts/ac-localnav.built.min.js"></script>
<div id="ac-ln-viewport-emitter"> </div>