.map {
	width: 100%;
	margin: 100px 0;
	height: 400px;
}

.overlay {
   background:transparent;
   position:relative;
   width:100%;
   height:300px; /* your iframe height */
   top:300px;  /* your iframe height */
   margin-top:-300px;  /* your iframe height */
}

.contact-help-centre h2 {
	margin-bottom: 20px;
}
h2.where  {
	margin-top: 40px;
}