#error-page-hh-illustration {
    margin-bottom: 10px;
    width: 186px;
}

#error-page {
    text-align: center;
    height: 100%;
    white-space: nowrap;
    word-break: normal;
}

#error-page p {
    width: 500px;
    margin: auto;
    color: #333;
    font-size: 16px;
    white-space: normal;
    text-shadow: 0 1px 1px #fff;
    text-shadow: 0 0 0 transparent, 0 1px 1px #fff;
}

#error-page img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
}

.gs-title {
    text-align: left;
}

#___gcse_0 {
    width: 500px;
    margin: auto;
}