.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 15px auto;

		@media #{$tablet} {
			max-width: 180px;
		}
		a {
			display: inline !important;
			&:hover {
				text-decoration: none;
			}
			svg {
				display: inline !important;
				fill: $dark-shade;
				margin-right: 10px;
				transition: fill 0.2s ease;
				vertical-align: text-bottom;
				position: relative;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: $dark-shade;
			}
			&.Facebook-icon:hover svg {
				fill: #365899;
			}
			
			&.Twitter-icon:hover svg {
				fill: #55acee;
			}

			&.Google-Plus-icon:hover svg {
				fill: #db4437;
			}
			&.IT-Solver-icon:hover svg {
				fill: #4182e4;
			}

			&.Youtube-icon:hover svg {
				fill: #cd201f;
			}

			&.instagram-icon:hover svg {
				fill: #f167f5;
			}

			&.linkedin-icon:hover svg {
				fill: #0077b5;
			}

			&.pinterest-icon:hover svg {
				fill: #bd081c;
			}

			&.rss-icon:hover svg {
				fill: #f26522;
			}
		}
	}
}

footer {
	padding: 50px 0 50px 0;
	font-size: 1.1em;
	position: relative;
	background: $light-shade;
	color: $dark-shade;

	.copyright {
		font-size: .8em;
		margin: 0 auto;

		@media #{$tablet} {
			text-align: center;
		}

	}

	&,
	a {
		color: $dark-shade;
	}

	h2 {
		font-size: 1.4em;
		margin: 0 0 30px 0;
		color: $dark-shade;
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -10px -10px 10px -10px;
		
		.qassure {
			margin: 30px 10px 0 10px;
		 img {
			margin: auto;
			margin-bottom: 30px;
		 }
		}

	}

	a {
		text-decoration: none;

		&:hover {
			color: $dark-accent;
		}
	}

}