.gg .maia-button {
    background-color: #4173c9;
    background-image: -moz-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-linear-gradient(top, #5e8ee4, #4173c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5e8ee4), color-stop(1, #4173c9));
    background-image: linear-gradient(top, #5e8ee4, #4173c9);
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    padding: 7px 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .08);
    text-decoration: none
}
.gg>div {
    text-align: center;
    width: 100%
}
.gg .logo {
    margin-bottom: 30px;
    img {
        width: auto;
    }
}
.videoplayer {
    text-align: center;
}