.bottom-cta {
	background: $dark-shade;
	color: $light-shade;
	text-align: center;
	margin: 0;
	padding: 100px 0;
	font-weight: 500;
	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		p {
			font-style: italic;
		}

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: $light-shade;
	text-align: center;
	background: $brand-color;
	padding-top: 50px;
	p, h1 {
		color: $light-shade;
		padding: 0 20px;
	}
}

.flex {
	ol.benefits {
		-webkit-padding-start: 0;
		padding-left: 0;
		li {
			font-size: 1.2em;
			padding-bottom: 10px;
		}
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
		}

		.benefits {
			li {
				font-size: 1.2em;
				line-height: 1.45em;
			}
		}

		ol.benefits {
			-webkit-padding-start: 0;
			padding-left: 0;
	
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.cta.button {
	padding: 30px 0;
	text-align: center;
	font-weight: 500;
	display: inline-block;
	@media #{$mid-point}{
		display: block;
	}
}

.cta.button a {
	display: inline-block;
}

.cta.button a+a.alt {
	margin-top: 20px;
	display: block;

	@media #{$mid-point}{
		display: inline-block;
		margin-left: 20px;
		margin-top: 0;
	}
}

.cta.button.left {
	text-align: left;
}

.cta.button a.light  {
	background: $light-shade;
	color: $brand-color;
	border: 1px solid $light-shade;
}

.cta.button a.light:hover  {
	background: $dark-accent;
	color: $light-shade;
	border: 1px solid $dark-accent;
}

.cta.button a.dark  {
	background: $brand-color;
	color: $light-shade;
	border: 1px solid $light-shade;
}

.cta.button a.dark:hover  {
	background: $dark-shade;
	color: $light-shade;
	border: 1px solid $dark-shade;
}

.cta.button.help-centre {
	text-align: center;
}
.cta.button.help-centre a {
	color: $brand-color;
	border: 1px solid $brand-color;
	background: $light-shade;
	cursor: pointer;
}

.cta.button.help-centre a:hover {
	color: $light-shade;
	border: 1px solid $brand-color;
	background: $brand-color;
	cursor: pointer;
}

.button a {
	color: $light-shade;
	text-decoration: none;
	background: $brand-color;
	border: 1px solid rgba(255,255,255,.5);
	transition: all 0.5s ease;
	padding: 14px 30px;
	min-width: 200px;
	width: auto;
}

.button a:hover {
	border: 1px solid $light-shade;
	background: $dark-accent;
	cursor: pointer;
}

.button.alt {
	padding: 30px 0;
}

.button.alt a {
	background: $brand-color;
	border: $brand-color;
	padding: 14px 30px;
}

.button.alt a:hover {
	background: $light-shade;
	color: $brand-color;
}