.bottom-cta {
	background: $dark-shade;
	color: $light-shade;
	text-align: center;
	margin: 0;
	padding: 100px 0;
	font-weight: 500;
	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		p {
			font-style: italic;
		}

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: $light-shade;
	text-align: center;
	background: $brand-color;
	padding-top: 50px;
	p, h1 {
		color: $light-shade;
		padding: 0 20px;
	}
}

.flex {
	ol.benefits {
		-webkit-padding-start: 0;
		padding-left: 0;
		li {
			font-size: 1.2em;
			padding-bottom: 10px;
		}
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
		}

		.benefits {
			li {
				font-size: 1.2em;
				line-height: 1.45em;
			}
		}

		ol.benefits {
			-webkit-padding-start: 0;
			padding-left: 0;
	
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.cta.button {
	padding: 40px 0;
	text-align: center;
	font-weight: 500;
}

.cta.button a:hover {
	background: $dark-shade;
	color: $light-shade;
	border: 1px solid $dark-shade;
}

.cta.button a.bg-fff:hover {
	background: $dark-shade;
	color: $light-shade;
	border: 1px solid $dark-shade;
}

.cta.button.left {
	text-align: left;
}

.cta.button a.home-request-demo  {
	background: rgba(255,255,255,0.3);
}

.cta.button a.home-request-demo:hover  {
	background: $dark-shade;
	color: $light-shade;
	border: 1px solid $dark-shade;
}
.cta.button a.bg-fff-request-demo  {
	background: $light-shade;
	color: $brand-color;
}

.cta.button a.bg-fff-request-demo:hover  {
	background: $dark-shade;
	color: $light-shade;
	border: 1px solid $dark-shade;
}
.cta.button.help-centre {
	text-align: center;
}
.cta.button.help-centre a {
	color: $brand-color;
  border: 1px solid $brand-color;
  background: $light-shade;
	cursor: pointer;
}

.cta.button.help-centre a:hover {
	color: $light-shade;
	border: 1px solid $brand-color;
	background: $brand-color;
	cursor: pointer;
}