.nav-open nav {
	border-bottom: 1px dotted rgba(255, 255, 255, .2);
	a {
		display: block;
		padding: 20px 0;
	}

	@media #{$desktop} {
		border: 0;
		padding: 0 10px;
		a {
			display: inline;
		}
	}
}

nav {
	font-size: 18px;
	width: 100%;
	font-weight: 500;

	@media #{$desktop} {
		font-size: 13px;
		text-align: right;
		position: absolute;
		top: 1px;
		right: 0;
		padding: 0 20px;
	}
	@media (min-width: 1000px) {
		font-size: 17px;
		top: -1px;
	}

	a {
		margin: 0 3px;
		padding: 0 8px;
		font-size: 11px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: #fff;
		transition: all 0.5s ease;
		display: none;
		letter-spacing: 0.66px;

		@media #{$desktop} {
			display: inline;
		}
		@media #{$large-desktop} {
			padding: 0 16px;
			margin: 0;
			font-size: 16px;
		}

		svg {
			margin-right: 8px;
			height: 16px;
			vertical-align: middle;
			fill: currentColor;
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 10px;
			top: -12px;
			font-size: 29px;
			border: 0;
			margin: 0 auto;
			padding: 0 10px;

			@media #{$desktop} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: hsla(0,0%,100%,.5);
	}
	@media #{$desktop} {
		a.highlight {
			padding-left: 15px;
		}
	}
	@media (min-width: 1000px) {
		a.highlight {
			padding-left: 30px;
		}
	}

	a.active {
		color: #fff;
	}

	a:last-child {
		padding-right: 0;
	}
}

body {
    padding: 0;
}