/* Common styles */

.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto 3em;
}

.pricing-section {
	padding: 0;
}

.pricing-item {
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: center;
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px;
}

.pricing-item-section {
	height: 468px;
	padding-top: 10px;
}

@media only screen and (max-width: 755px){
	.pricing-item-section {
		height: fit-content;
	}
}	

.pricing-feature-list {
	text-align: left;
}


/* Individual style */
/* norbu */
.pricing-item {
	margin: 1em;
	color: #444;
	cursor: default;
	font-family: 'Myriad Pro', Arial, sans-serif;
	border: 1px solid $secondary-brand-color;
	background: #FFF;
	-webkit-transition: border-color 0.3s, background 0.3s;
	transition: border-color 0.3s, background 0.3s;
}

.pricing-title {
	font-size: 2em;
	font-weight: 400;
	margin: 0.5em 0;
	position: relative;
}

.pricing-title::after {
	content: '';
	position: absolute;
	width: 20%;
	height: 1px;
	background: #fff;
	left: 40%;
	bottom: 0;
}

.icon {
	display: inline-block;
	min-width: 2em;
}

.pricing-price {
	font-size: 3.5em;
	font-weight: 400;
	position: relative;
	z-index: 100;
}

.pricing-currency {
	font-size: 0.5em;
	vertical-align: super;
}

.pricing-period {
	font-size: 0.25em;
	display: block;
	padding: 1em;
}

.pricing-sentence {
	padding: 1em 2em;
	font-size: 1em;
	margin: 0 auto 1em;
}

.pricing-feature-list {
	font-size: 1.1em;
	margin: 0 2em;
	letter-spacing: 0;
	padding: 1em 0;
	list-style: none;
}

.pricing-feature {
	line-height: 1.4;
}

.pricing-feature img {
	width: 15px;
	height: 15px;
}

.pricing-feature::before {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0.75em 0 0;
	background-image: url(/images/list.svg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 15px 15px;
}

.pricing-item {
	margin: auto 1em 1em;
	padding: 1.25em 2em;
	flex: none;
	margin: auto 1em 1em;
	padding: 0;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}

.plan-button {
	background: #f6f9fc;
	display: block;
	color: #32325d;
	text-align: center;
	text-decoration: none;
	padding: 25px;
	transition: background .15s ease;
	
}

.plan-button:hover, .plan-button:focus {
	background: #e6ebf1;
	transition: background .15s ease;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	color: #444;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover, a:focus {
	outline: none;
	text-decoration: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.pricing-item ul li img {
	display: inline;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-right: 10px;  
}

.faq {
	@media #{$desktop} {
		@include columns(2);
	}
	div {
		break-inside: avoid;
		padding: 25px 0;
	}

	dt {
		font-weight: bold;
		margin: 0 0 5px 0;
	}

	dd {
		padding: 0;
		margin: 0;

	}
}