<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {{ content }}
    {% include navigation/footer.html %}
    {% include serviceWorker.html %}
    <script>
        document.getElementById("open-nav").addEventListener("click", function (event) {
          event.preventDefault();
          document.body.classList.toggle("nav-open");
        });
    </script>
    <script type="text/javascript" src="/assets/javascripts/index.js"></script>
    <script>
      const observer = lozad(); // lazy loads elements with default selector as '.lozad'
      observer.observe();
    </script>
    <div class="offline-ready">Site is Ready for Offline Use</div>
</body>

</html>
