<!doctype html>
<html lang="en">
{% include head.html %}

<body>
    {{ content }}
    {% include navigation/footer.html %}
    {% include serviceWorker.html %}
    <script>
        document.getElementById("open-nav").addEventListener("click", function (event) {
          event.preventDefault();
          document.body.classList.toggle("nav-open");
        });
    </script>
    {% assign fingerprinted_js = site.data.js-manifest['index.js'] | default: 'index.js' | prepend: 'assets/javascripts/' | relative_url %}

    <script type="text/javascript" src="{{ fingerprinted_js }}"></script>
    <script>
      const observer = lozad(); // lazy loads elements with default selector as '.lozad'
      observer.observe();
    </script>
</body>

</html>
