---
layout: default
---

<header class="{{ page.header_class }}">
	{% include navigation/top.html %}
	{% include components/hero/main.html image="" heading="Business technology made simple" subtitle="Partner with the tech support service trusted by small businesses for time-savings, personalised strategy and expert service" button="Get instant help" button_alt="See plans and pricing" video="" %}
</header>

{{ content }}

{% include components/cta/main.html text="Do business better with IT Solver" button="Get started" %}
