---
layout: page
icons: true
---

<div class="wrapper">
  <section>
    <h1>{{ page.heading }}</h1>
    {% if page.subtitle %}
    <p class="subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </section>
  {{ content }}
  <section class="on-demand-support">
    <div class="grid2col">
        <div class="column first">
            <p>{{ page.description }}</p>
            <p>To purchase on-demand support, <a href="/buy/on-demand">buy now</a> or call <a href="tel:+61731236000">(07) 3123 6000</a>.</p>
            <div class="pricing-item single">
                <div class="pricing-price"><span class="pricing-currency">$</span>{{ page.price }}<span class="pricing-period">/{{ page.unit }}</span></div>
                <ul class="pricing-feature-list">
                    {% for feature in page.features %}
                    <li class="pricing-feature">{{ feature.feature }}</li>
                    {% endfor %}
                </ul>
                <!-- Create a button that your customers click to complete their purchase. -->
                <button id="checkout-button">Pay</button>
                <div id="error-message"></div>
            </div>
        </div>
  
        {% include components/cta/support-plans.html %}
    </div>
  </section>
  {% if page.faq %}
    <h2>On-Demand Support FAQ</h2>
    <dl class="faq">
      {% for item in page.faq %}
        <div>
          <dt>{{ item.question }}</dt>
          <dd>{{ item.answer }}</dd>
        </div>
      {% endfor %}
    </dl>
  {% endif %}
  
  <section>
    <h2>For More Information</h2>
    Please review IT Solver's <a href="/general-terms-conditions">Terms and Conditions</a> for further details on IT Solver On-Demand support offerings.
  </section>

  <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<script>
  var stripe = Stripe('pk_live_VJ3u45huMiamA3vibzwz4zCU', {
    betas: ['checkout_beta_4']
  });

  var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: 'apple-tv-setup-request', quantity: 1}],

      // Note that it is not guaranteed your customers will be redirected to this
      // URL *100%* of the time, it's possible that they could e.g. close the
      // tab between form submission and the redirect.
      successUrl: 'https://www.itsolver.net/payment-successful',
      cancelUrl: 'https://www.itsolver.net/payment-cancelled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>