<section class="hero">
  <div class="wrapper">
    <h1>{{ include.heading }}</h1>
    <p class="subtitle">{{ include.subtitle }}</p>
    <div class="hero-cta">
      <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
      <stripe-pricing-table pricing-table-id="prctbl_0MVQkDGwvziWDQizVeR7eCkq"
      publishable-key="pk_live_VJ3u45huMiamA3vibzwz4zCU">
      </stripe-pricing-table>
    </div>
    {% if include.video != "" %}
    <div class="landing-video">
      {% include video.html video = include.video %}
    </div>
    {% endif %}
  </div>
</section>
