<section class="hero">
  <div class="wrapper">
    <h1>{{ include.heading }}</h1>
    <p class="subtitle">{{ include.subtitle }}</p>
    <div class="hero-cta">
      <a
        class="button light border light-hover"
        href="https://book.stripe.com/7sI17a2LlaUJ6ru28c"
        >Get instant help</a
      >
      <a
        class="alt button dark no-border dark-hover"
        href="https://book.stripe.com/dR617a4TtaUJ8zC28b"
        >Book a Systems Health Check</a
      >
    </div>
    {% if include.video != "" %}
    <div class="landing-video">
      {% include video.html video = include.video %}
    </div>
    {% endif %}
  </div>
</section>
