---
permalink: /about/
title: About
heading: About
layout: info-page
---
<p>Started in 2013, computer support and repair services, IT Solver, helps businesses succeed with the right technology mix. Angus McLauchlan operates a mobile support unit to tackle software and hardware issues.</p>
<p>There’s nothing more frustrating than finding yourself at the mercy of an uncooperative computer.  Computers, in one shape or another, are as much a part of our lives as daily transport. We can’t live without them and, when something goes wrong, it’s hard to measure the value of a knowledgeable ‘techie’.</p>
<p>Angus’ obsession with computers began at age 10 and since then, he’s acquired an advanced diploma in IT from Mt Gravatt Metro South Institute of Technology and worked in a number of technology companies over several years. You can find his details at
    <a href="https://www.linkedin.com/in/angusmclauchlan/">LinkedIn</a>.</p>
<p>He specialises in networking and delivering first rate customer service.  If you don’t know what networking is, try living without it! Angus is experienced in laptops, PCs and Macs, iOS (iPhone and iPads) and Android devices.  He has an across the board knowledge of technology and, aside from weekends, his average turn-around time from drop off to completion is approximately 24-48 hours.</p>
<p>His main strength is, he’s up to date with technology – aside from following the release of the latest devices, apps and programs, fundamentally, he’s good at fixing problems; he’s patient, prompt and clearly explains the issues.</p>
<p>Angus has provided computer support for kids (the Macleay Island State School), professionals, business people, tradies, and just ordinary people. He is keen to extend his knowledge into the community with knowledge base articles and tutoring.</p>
<p>Customers can receive IT support by phone, on the web, on-site, or if they prefer, they can carry-in their device at
    <a href="/contact/">IT Solver, Cleveland</a>, where they will find a raft of services on offer.</p>
<p>Last but not least, not only is Angus abreast of the latest technology, he has chosen the Redlands to establish his business; further proof that through technology he can do business world wide and locals have access to his skills on their doorstep.</p>

<ul class="staff">
    {% for person_obj in site.data.authors %}
        {% assign person = person_obj[1] %}
        {% if person.position %}
            <li>
                <div class="image"><img src="{{ person.image }}" alt="{{ person.name }}"></div>
                <p>{{ person.name }}</p>
            </li>
        {% endif %}
    {% endfor %}
</ul>
