---
permalink: /google-workspace/
title: Google Workspace - Gmail, Docs, Drive, and Calendar for business.
heading: Get Gmail, Docs, Drive, and Calendar for business.
subtitle: All you need to do your best work, together in one package that works seamlessly from your computer, phone or tablet.
layout: info-page
---
<div class="gg">
    <div class="product-lockup" data-customizer="hp-hero-products" data-customizer-toggle="">
      <img class="product-lockup--img"  alt="Google Workspace product icons of Gmail, Docs, Drive and Calendar" src="/assets/images/gsuite-product-lockup.png">
    </div>
    <a class="button dark no-border dark-hover go-away" href="https://shop.itsolver.net/collections/business-basics/products/integrate-google-workspace-into-your-business">GET STARTED</a>
    <p>Millions of organisations around the world count on Google Workspace for professional email, file storage, video meetings, online calendars, document editing and more.</p>
    <div class="gg">
        <div class="js-video">
            <iframe src="https://www.youtube.com/embed/EZmXEFGFeNA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <h3>Want a smooth transition?</h3>
    <p>Our dedicated tech consultant will take care of migration from your legacy system to Google Workspace.</p>
    <h3>Highlights</h3>
    <strong>Business email for your domain</strong>
    <p>Looking professional matters, and that means communicating as you@yourcompany.com. Gmail’s simple, powerful features help you build your brand while getting more done.</p>
    <strong>Access from any location or device</strong>
    <p>Check emails, share files, edit documents, hold video meetings and more, whether you’re at work, at home or in transit. You can pick up where you left off from a computer, tablet or phone.</p>
    <strong>Enterprise-level management tools</strong>
    <p>Robust admin settings give you total command over users, devices, security and more. Your data always belongs to you, and it goes with you if you switch solutions.</p>
</div>

<section id="pricing" class="feature-section">
    <h3>Designed for your workplace, starting at just $15/user/month</h3>
    <div class="grid2col">
        <div class="column">
            <div class="pricing">
                <div class="pricing-item">
                    <div class="pricing-item-section">
                    <h3 class="pricing-title">Google Workspace Starter</h3>
                    <div class="pricing-price"><span class="pricing-currency">$</span><span class="pricing-amount">9.95</span><span class="pricing-period">/user/month</span></div>
                        <ul class="pricing-feature-list">
                            <li class="pricing-feature"><strong>Gmail:</strong> Send and receive mail using your professional address, as in alice@yourcompany.com.au</li>
                            <li class="pricing-feature"><strong>30GB storage:</strong> for each user in your organization can store Gmail messages, Google Photos, and files in Drive.</li>
                            <li class="pricing-feature"><strong>Docs:</strong> Collaborate in real-time on online documents, spreadsheets, and presentation</li>
                            <li class="pricing-feature"><strong>Drive:</strong> Store and back up files securely in the cloud</li>
                            <li class="pricing-feature"><strong>Hangouts:</strong> Join video meetings from their laptop or other device</li>
                        </ul>
                    </div>
                    <a {% if plan.highlight %}class="button light no-border no-border-radius dark-hover"{% else %}class="button dark no-border no-border-radius light-hover"{% endif %} href="https://shop.itsolver.net/collections/business-basics/products/integrate-google-workspace-into-your-business">SIGN UP</a>
                </div>
                <div class="pricing-item">
                    <div class="pricing-item-section">
                    <h3 class="pricing-title">Google Workspace Business Standard</h3>
                    <div class="pricing-price"><span class="pricing-currency">$</span><span class="pricing-amount">30</span><span class="pricing-period">/user/month</span></div>
                        <ul class="pricing-feature-list">
                            <li class="pricing-feature"><strong>Everything in Google Workspace Basic plus...</strong></li>
                            <li class="pricing-feature"><strong>2TB storage:</strong> for each user in your organization can store Gmail messages, Google Photos, and files in Drive.</li>
                            <li class="pricing-feature"><strong>Company-wide search:</strong>Users can search for company content across Google Workspace services.</li>
                            <li class="pricing-feature"><strong>Shared Drives:</strong> With Shared Drives, files belong to a team instead of an individual. If members leave, files stay where they are so the team can continue to share information and get work done.</li>
                            <li class="pricing-feature"><strong>Vault for eDiscovery and archiving:</strong> Manage, retain, search, and export your organization’s email and on-the-record chats.</li>
                            <li class="pricing-feature"><strong>App Maker for building custom apps:</strong> Build custom enterprise applications with App Maker - Google Workspace's low-code development environment.</li>
                        </ul>
                    </div>
                    <a {% if plan.highlight %}class="button light no-border no-border-radius dark-hover"{% else %}class="button dark no-border no-border-radius light-hover"{% endif %} href="https://shop.itsolver.net/collections/business-basics/products/integrate-google-workspace-into-your-business">SIGN UP</a>
                </div>
                 <div class="pricing-item">
                    <div class="pricing-item-section">
                    <h3 class="pricing-title">Google Workspace Business Plus</h3>
                    <div class="pricing-price"><span class="pricing-currency">$</span><span class="pricing-amount">45</span><span class="pricing-period">/user/month</span></div>
                        <ul class="pricing-feature-list">
                            <li class="pricing-feature"><strong>Everything in Google Workspace Basic plus...</strong></li>
                            <li class="pricing-feature"><strong>5TB storage:</strong> for each user in your organization can store Gmail messages, Google Photos, and files in Drive.</li>
                            <li class="pricing-feature"><strong>Company-wide search:</strong>Users can search for company content across Google Workspace services.</li>
                            <li class="pricing-feature"><strong>Shared Drives:</strong> With Shared Drives, files belong to a team instead of an individual. If members leave, files stay where they are so the team can continue to share information and get work done.</li>
                            <li class="pricing-feature"><strong>Vault for eDiscovery and archiving:</strong> Manage, retain, search, and export your organization’s email and on-the-record chats.</li>
                            <li class="pricing-feature"><strong>App Maker for building custom apps:</strong> Build custom enterprise applications with App Maker - Google Workspace's low-code development environment.</li>
                            <li class="pricing-feature"><strong>Enhanced security:</strong> and management controls including advanced endpoint management.</li>
                        </ul>
                    </div>
                    <a {% if plan.highlight %}class="button light no-border no-border-radius dark-hover"{% else %}class="button dark no-border no-border-radius light-hover"{% endif %} href="https://shop.itsolver.net/collections/business-basics/products/integrate-google-workspace-into-your-business">SIGN UP</a>
                </div>
            </div>
            <h4>Administrative controls</h4>
            <p>Your administrative or IT team can also:</p>
            <ul class="plan-feature-list">
                <li>Manage user accounts and security settings from a central Admin console</li>
                <li>Control user access to features and services</li>
                <li>Remotely manage your mobile fleet</li>
                <li>Track usage trends via audits and reports</li>
                <li>Receive 24/7 support from Google Workspace experts</li>
            </ul>
    </div>
    </div>
</section>

{% if page.faq %}
<h2>Support Plans FAQ</h2>
<dl class="faq">
  {% for item in page.faq %}
    <div>
      <dt class="larger-text">{{ item.question }}</dt>
      <dd>{{ item.answer }}</dd>
    </div>
  {% endfor %}
</dl>
{% endif %}

<h2>Integrate Google Workspace into your business</h2>
<p>Google Workspace is a powerful tool that can help your business grow. But it’s not a one-size-fits-all solution. You need to know how to use it to get the most out of it. That’s where we come in.</p>
<p>We will get your business up and running with Google Workspace and help you integrate it into your business processes. We’ll also help you train your staff to use it effectively.</p>
<p>Our Google Workspace setup service includes:</p>
<ul class="plan-feature-list">
<li>Setting up your Google Workspace account</li>
<li>Setting up your domain</li>
<li>Setting up your email</li>
<li>Migrating your data</li>
<li>Setting up your contacts and calendar</li>
<li>Setting up your documents and drive</li>
<li>Setting up your mobile devices</li>
<li>Setting up your security</li>
<li>Setting up your admin console</li>
<li>Setting up your billing</li>
<li>Setting up your support</li>
<li>Training your staff</li>
</ul>
<a class="button dark no-border dark-hover go-away" href="https://shop.itsolver.net/collections/business-basics/products/integrate-google-workspace-into-your-business">Setup Google Workspace</a>
