---
permalink: /maintenance/
title: Maintenance
heading: Maintenance
layout: info-page
---
<section class="maintenance">
  <div class="grid2col">
      <div class="column first">
          <p>IT Solver Maintenance provides regular health checks for your Mac and Windows computers to detect and resolve issues before they impact your business.</p>
          <p>In addition, you'll get business grade security, software updates, ad-blocking and protection from scammers.</p>
          <p>We secure your Macs by leveraging native security features. For Windows, we provide business grade security based on Bitdefender GravityZone. In both cases, we manage device settings and configurations, restrict malicious software, and patch your computer without user interaction.</p>
          <p>To purchase Maintenance, please call <a href="tel:+61731236000">(07) 3123 6000</a>.</p>
          <div class="pricing-item single">
              <div class="pricing-price"><span class="pricing-currency">$</span>{{ site.data.maintenance.fee }}<span class="pricing-period">{{ site.data.maintenance.period }}</span></div>
              <ul class="pricing-feature-list">
                  {% for feature in site.data.maintenance.features %}
                  <li class="pricing-feature">{{ feature.feature }}</li>
                  {% endfor %}
              </ul>
              <a class="dark button" href="/contact/">CONTACT SALES</a>
          </div>
      </div>

      <div class="column last">
          <div class="support-plan-upgrade rounded">
          <h3>IT Solver Support Plans</h3>
          <p>Choose an IT Solver Support Plan and get unlimited telephone technical support and maintenance.</p>
          <p><a href="/support-plans/">View Support Plans</a></p>
          </div>
      </div>
  </div>
</section>
{% if page.faq %}
	<h2>Maintenance FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
