---
permalink: /on-demand/
title: On-Demand Support
heading: Professional support for a single request
layout: info-page
faq:
 - question: What kind of things will you do?
   answer: Lots of stuff! Check out the <a href="/on-demand-tasks/">full list here</a>.
 - question: Is on-site support available?
   answer: On-site support is available for businesses within <a href="/service-area">this service area</a> near Redland Bay, Qld, Australia.
 - question: What defines a ‘request’?
   answer: A request is defined as a single support issue and the reasonable effort(s) needed to resolve it. A single support issue is a problem that cannot be broken down into subordinate problems. If it can be broken down into subordinate problems, each subordinate problem shall be considered a separate request. An request may require multiple contacts and off-line research to achieve final resolution. The time spent in delivering these solutions is independent to the amount you will be charged.
 - question: Am I guaranteed a solution?
   answer: While we make best efforts to resolve your issue, IT Solver cannot guarantee to resolve all issues due to the diversity of our customers’ computer configurations. Customers may request to close a case before it is resolved; however the chargeability is at the discretion of IT Solver.
 - question: What is considered an acceptable solution?
   answer: Generally, a Support Request is resolved when we deliver one of the following&#58; (a) information that resolves the problem; (b) information on how to obtain a software solution that will resolve the problem; (c) notice that the problem is caused by a known, unresolved issue or an incompatibility issue with a Supported Product; (d) information that identifies the problem as being resolved by upgrading to a newer release of the Supported Product; or (e) notice that the problem has been identified as a hardware equipment issue.
---

<section class="on-demand-support">
  <div class="grid2col">
      <div class="column first">
          <p>If your products aren’t covered by a Support Plan, you can purchase support on-demand.</p>
          <p>To purchase on-demand support, please call <a href="tel:+61731236000">(07) 3123 6000</a>.</p>
          <div class="pricing-item single">
              <div class="pricing-price"><span class="pricing-currency">$</span>{{ site.data.on-demand.fee }}<span class="pricing-period">{{ site.data.on-demand.period }}{% if site.data.on-demand.minimum %}, minimum charge{% endif %}</span></div>
              <ul class="pricing-feature-list">
                  {% for feature in site.data.on-demand.features %}
                  <li class="pricing-feature">{{ feature.feature }}</li>
                  {% endfor %}
              </ul>
              <a class="dark button" href="/buy/on-demand">Buy now</a>
          </div>
      </div>

      {% include components/cta/support-plans.html %}
  </div>
</section>
{% if page.faq %}
	<h2>On-Demand Support FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
