---
permalink: /on-demand-tasks/
title: On-Demand Tasks
heading: On-Demand Tasks
layout: info-page
description: This is a list of all the tasks we will do as part of your Support Plan or On-Demand Support. You’ll also find a list of the things that are explicitly not included.<br/>If something isn’t on the include list, that doesn’t mean we won’t do it. Reach out to us with your task. We’ll make a call on it and maybe even add it to this list. If not, we’ll give you an estimate of costs.
---
<h2>Tasks Included</h2>
<dl class="faq">
    {% for column in site.data.tasks %}
    {% for task in column.tasks-included %}
        <div>
            {% if task.header %}
            <dt>{{ task.header }}</dt>
            {% endif %}
            <dd>{{ task.task }}</dd>
        </div>
    {% endfor %}
    {% endfor %}
</dl>

<h2>Platforms</h2>
<dl class="faq">
        {% for column in site.data.tasks %}
        {% for platform in column.platforms %}
            <div>
                <dd>{{ platform.name }}</dd>
            </div>
        {% endfor %}
        {% endfor %}
</dl>

<h4>Conditions</h4>
{% for column in site.data.tasks %}
{% for condition in column.conditions %}
<ol class="conditions">
<li>{{ condition.condition }}</li>
</ol>
{% endfor %}
{% endfor %}
