---
permalink: /support-plans/
title: Support Plans
heading: Choose the plan that’s right for your business.
description: IT Solver offers managed services plans to automatically resolve all computer technical issues from remote maintenance, security updates to on-site hardware servicing. Choose from three support plans to cater for all levels of care.
layout: info-page
faq:
  - question: Do you offer email accounts?
    answer: Yes. You may <a href="/cloud-apps-g-suite/">purchase email accounts separately</a>.
  - question: How do I buy and pay?
    answer: Choose plan above and complete the sign up form. Payment details will be requested when we call you shortly. We accept Visa and Mastercard.
  - question: What is the payment plan?
    answer: We offer a flexible payment plan. You are billed monthly. For more information on pricing, <a href="https://itsolver.net/contact/">contact sales</a>.
  - question: Where is on-site support available?
    answer: Enterprise customers receive free call outs in <a href="/service-area">this service area around Redland Bay, Qld</a>.
  - question: Is there a call out fee?
    answer: Enterprise customers have free call outs included.
  - question: If I'm on the Business plan and require a call out, what are my options?
    answer: Generally most issues are resolved quickly over the internet. Customers on the Business plan or outside the service area, can submit <a href="/on-demand">On-Demand support requests</a>.
  - question: What priority is given to an request?
    answer: |
     Priority 1: Product/service unusable in production.<br/>
     Priority 2: Use of product/service is significantly affected.<br/>
     Priority 3: All other questions and bug reports<br/>
  - question: Have more questions?
    answer: <a href="/contact/">Contact us</a>.
---
<p>Whether you have implemented G Suite or Office 365 within your organisation, you have already taken a crucial step in streamlining your business applications and workflows in the cloud.</p>
<p>But what about the ongoing IT management of your G suite or Office 365 environment? IT Solver has the expertise to support your team.</p>
<section class="pricing-section">
    <div class="pricing">
        {% for column in site.data.support-plans %}

        <div class="pricing-item">
                {% for plan in column.plan %}
                {% if plan.name %}{% assign {{ support-plan-name = plan.name %}
            <div class="pricing-item-section">
                <h3 class="pricing-title">{{ plan.name }}</h3>
        {% endif %}
                {% if plan.fee %}
                <div class="pricing-price"><span class="pricing-currency">$</span><span class="pricing-amount">{{ plan.fee }}</span>{% endif %}{% if plan.period %}<span class="pricing-period">{{plan.period}}</span></div>
                <ul class="pricing-feature-list">
                {% endif %}
                {% if plan.feature %}
                    <li class="pricing-feature">{{ plan.feature }}</li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>

            <a {% if plan.highlight %}class="button light no-border no-border-radius dark-hover"{% else %}class="button dark no-border no-border-radius light-hover"{% endif %} href="https://www.itsolver.net/register-{{ support-plan-name | downcase }}">CHOOSE PLAN</a>
        </div>
        {% endfor %}
    </div>
</section>

{% if page.faq %}
	<h2>Support Plans FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt class="larger-text">{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
