---
permalink: /support-plans/
title: Business Support
heading: Choose the plan that's right for your business.
description: IT Solver offers managed services plans to automatically resolve all computer technical issues from remote maintenance, security updates to on-site hardware servicing. Choose from three support plans to cater for all levels of care.
layout: info-page
faq:
  - question: I only want to pay for what I use. Do you offer on-demand or pay-as-you-go technical support services?
    answer: Yes, at our company, we understand the value of flexible, tailored services. We offer a one-time, pay-as-you-go, On-Demand Support option. You only pay for the support you need, when you need it. <a href="https://book.stripe.com/3cs8zC99Jgf3aHK005">Book our On-Demand Support</a>.
  - question: What is a Support Plan?
    answer: A Support Plan is a monthly subscription that provides you with access to IT Solver's team of experts. We can help you with any technical issue you may have with your computer, network, software, hardware, mobile devices and more.
  - question: What kind of things will you do?
    answer: Lot's of things! Check out the <a href="support-plan-requests">full list of requests</a> we can handle.
  - question: What kind of things won't you do under this support plan?
    answer: Any big adds, moves or changes like moving equipment, installing networks, migrating data, working on servers and hardware repairs. Check out the <a href="support-plan-requests">exclusions list at the bottom of this page</a>. We do have a dedicated team for projects and hardware repairs. <a href="https://itsolver.net/contact/">Contact us</a> if you need this kind of work.
  - question: How does it work?
    answer: Once you have signed up, email or phone in your request. Or join a live chat on our website. We'll get on it and email you back when it is complete or if we have any questions.
  - question: How do I buy and pay?
    answer: Choose plan above and complete the sign up form. Payment details will be requested when we call you shortly. We accept Visa and Mastercard.
  - question: What is the payment plan?
    answer: We offer a flexible payment plan. You are billed monthly. For more information on pricing, <a href="https://itsolver.net/contact/">contact sales</a>.
  - question: Where is on-site support available?
    answer: 99% of issues are quickly fixable over the internet, if it requires on-site, premium support plan customers receive a free call out in Redlands and surrounding suburbs.
  - question: What priority is given to a request?
    answer: |
      High: Product/service is unusable.<br />
      Normal: Use of product/service is significantly affected.<br />
      Low: All other questions and bug reports<br />
  - question: Do you offer email accounts?
    answer: Yes. You may purchase <a href="https://itsolver.net/cloud-apps-g-suite">Google Workspace</a> or <a href="https://shop.itsolver.net/products/integrate-microsoft-365-for-business-basics">Microsoft 365</a> email accounts separately.
  - question: What isn't included?
    answer: Data migration is not included and is billed separately. Please refer to our <a href="https://www.itsolver.net/cloud-apps-g-suite#gsuite-setup">list of Support Plan inclusions and exclusions</a> for more details.
  - question: Have more questions?
    answer: <a href="/contact/">Contact us</a>.
---

<p>
  If your business is setup with Google Workspace or Microsoft 365, you have taken a
  crucial step in streamlining your business.
</p>
<p>
  This also means your organisation is eligible for Support Plans by IT Solver.
</p>
<p>
  We understand the needs of cloud-based businesses so we can support you
  through any technical challenge.
</p>
<p>
  Whether you are solo or up to 50 employees, when you run into something you
  don't understand, IT Solver has the expertise to walk you through it.
</p>
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_0MVQkDGwvziWDQizVeR7eCkq" publishable-key="pk_live_VJ3u45huMiamA3vibzwz4zCU"></stripe-pricing-table>
{% if page.faq %}
<h2>Support Plans FAQ</h2>
<dl class="faq">
  {% for item in page.faq %}
  <div>
    <dt class="larger-text">{{ item.question }}</dt>
    <dd>{{ item.answer }}</dd>
  </div>
  {% endfor %}
</dl>
{% endif %}

<section>
  <h2>For More Information</h2>
  Please review IT Solver's
  <a href="/legal">Terms and Conditions</a>
  for further details on IT Solver On-Demand support offerings.
</section>
