---
permalink: /web-design-business/
title: Web Design
heading: We get your business on the web in 10 days
subtitle: Stand out from the competition with a mobile friendly website.
layout: info-page
faq:
 - question: When do I pay for the website?
   answer: Our one-month free trial has no setup fees, meaning you can get started right away without any payment.
 - question: What happens at the end of the one month free trial period?
   answer: At the end of your free trial, your credit card is automatically charged and you get to keep your website and domain. However, if you decide to cancel, any services we've deployed will be removed (meaning you won't have access to them anymore).
 - question: How quickly will my website be built?
   answer: Once we have enough details about your business via a  survey, our team will get started on the website build. This typically takes between 5 to 10 business days. During the free trial, you can evaluate and review your website before launching into a paid subscription plan.
 - question: Who registers and hosts my website domain?
   answer: We’ll take care of the domain name registration, hosting and the other technical details based on your business goals.
 - question: Do I have to sign up for a contract?
   answer: We offer a flexible payment plan. You are billed monthly.
 - question: What happens when I cancel?
   answer: If you have an email account with us, we will offer to downgrade the plan to email and domain only. If you choose to cancel your paid subscription plan (after your one-month free trial) we’ll delete the website and domain. You’ll have the opportunity to reinstate them within 30 days by moving to a paid subscription plan.
 - question: Can I download my website?
   answer: At any time, you may download the published content of your site. After paying the equivalent of 6 years subscription, you can have the source code to host the site at your discretion. Typically, managed website platforms (including Squarespace, Wix and GoDaddy) do not offer this option.
 - question: Can I use this product if I already have a website?
   answer: Yes, we can use any your existing content (text, images only) to build you a new website. But, note that your new mobile-friendly website will be built using our templates and technology and may not have the same look and feel like your old website.
 - question: If I have more product-related questions, who can I contact?
   answer: Please email us at <a href="mailto:support@itsolver.net">support@itsolver.net</a> or call <a href="tel:+61731236000">(07) 3123 6000</a> between 8 am and 6 pm (AEST) Monday - Friday.
keywords: |
  web design
  website design
  create a website
  business email
  ecommerce website
  web design company
  best website design
  e commerce website
  web development company
  email hosting
  website design company
  best business laptop
  business website
  business mail
  business email address
  professional website
  web design business
  website refresh
---
<section class="pricing-section">
    <div class="pricing">
        {% for column in site.data.web-design-plans %}

            <div class="pricing-item">
                {% for plan in column.plan %}
                    {% if plan.name %}
                        <div class="pricing-item-section">
                            <h3 class="pricing-title">{{ plan.name }}</h3>
                        {% endif %}
                        {% if plan.pages %}
                            <p>
                                <strong>{{ plan.pages }}</strong>-page mobile-friendly website</p>
                        {% endif %}
                        {% if plan.fee %}
                            <div class="pricing-price">
                                <span class="pricing-currency">$</span>
                                <span class="pricing-amount">{{ plan.fee }}</span>
                            {% endif %}
                            {% if plan.period %}
                                <span class="pricing-period">{{plan.period}}</span>
                            </div>
                            <ul class="pricing-feature-list">
                            {% endif %}
                            {% if plan.feature %}
                                <li class="pricing-feature">{{ plan.feature }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <a {% if plan.highlight %} class="button light no-border no-border-radius dark-hover" {% else %} class="button dark no-border no-border-radius light-hover" {% endif %} href="https://www.itsolver.net/contact">CONTACT US</a>
            </div>
        {% endfor %}
    </div>
</section>

<div class="feature-content">
    <h2>All plans come with</h2>

    <ul class="cards">
        {% for feature in site.data.web-design-features %}
            <li class="card">
                <h3>
                    <i class="material-icons">{{ feature.icon }}</i>
                    <span>{{ feature.title }}</span>
                </h3>
                <p>{{ feature.content | markdownify }}</p>

                {% if feature.video %}
                    <div class="card-actions">
                        <a class="button light no-border no-padding no-hover video-link" data-video="{{ feature.video }}" href="https://youtu.be/{{ include.video }}">View demo &rsaquo;</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% if page.faq %}
    <h2>Website Plans FAQ</h2>
    <dl class="faq">
        {% for item in page.faq %}
            <div>
                <dt class="larger-text">{{ item.question }}</dt>
                <dd>{{ item.answer }}</dd>
            </div>
        {% endfor %}
    </dl>
{% endif %}

<section>
    <h2>For More Information on Website Design</h2>
    Please review IT Solver's
    <a href="/legal">Terms and Conditions</a>
    for further details on IT Solver Web Design offerings.
</section>

<script src="/assets/javascripts/features.js"></script>
