p.subtext {
	text-align: center;
}
.map {
    border:0;
    background: #eee;
    display: block;
    width: 100%;
}
.contact-help-centre h2 {
    margin-bottom: 20px;
}
h2.what,
h2.when,
h2.where {
	margin-top: 40px;
}

ul.operating-hours {
  @extend %flexbox;
  @include flex-flow(wrap);
  margin: 0 0 1.5rem 0;
  padding: 0;
  li {
    -webkit-flex: 1 0 180px;
    flex: 1 0 180px;
    list-style: none;
    padding: 0;
    max-width: 180px;
    text-align: left;
  }
  .days {
    max-width: 110px;
  }
}

p.urgent-enquries {
  padding-top: 20px;
}

img.contact {
  padding-bottom: 72px;
  padding-top: 54px;
}