.highlight {
    pre {
      white-space: pre-wrap; // Allows line breaks and white space wrapping
      word-break: break-all; // To prevent overflow of long strings of text
      overflow-wrap: break-word; // Ensures wrapping of long words
  
      code {
        white-space: inherit; // Inherits from parent <pre> to allow wrapping
      }
    }
  }
  