a.button {
	padding: 18px $half-space;
	display: inline-block;
	border-radius: $border-radius;
	background: $brand-color;
	color: #fff;
	border: 0;
	transition: $transition-duration background-color ease, $transition-duration color ease;
	cursor: pointer;

	&:hover,
	&.light.dark-hover:hover {
		background-color: $dark-accent;
	}

	&.keep-text-size {
		font-size: inherit;
	}

	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-hover {
		&,
		&.light,
		&.dark {
			&:hover {
				background: none;
			}
		}
	}

	&.no-border {
		&,
		&.light {
			border-color: #fff;
    }
	}

	&.dark {
    background: $brand-color;
    color: #fff;
		border: 1px solid $brand-color;

		&.brand {
			background: $brand-color;
		}

		&:hover {
      background: $dark-accent;
      color: #fff;
		}

		&.no-border {
      border: 0;
    }
    &.no-border-radius {
      border-radius: 0;
    }
	}

	&.dark-blue {
		background-color: $cta-background-color;

		&:hover {
			background: $brand-color;
		}
	}

	&.shadow {
		box-shadow: $large-box-shadow;
	}

	&.light {
		background: #fff;
		color: $brand-color;
		border: 1px solid $brand-color;

		&:hover {
      color: $brand-color;
			background-color: #e8f2fc;
		}
	}
}

a.button+a.button.alt {
  display: block;
  margin: 30px auto;
  width: fit-content;

	@media #{$mid-point}{
		display: inline-block;
		margin-left: 20px;
		margin-top: 0;
	}
}

.go-away {
  margin-bottom: 40px;
}
