input[type=text],input[type=email],input[type=password],textarea {
  padding: 16px;
  outline: 0;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  font-size: 1rem;
  box-sizing: border-box
}

.form-icon {
  position: relative
}

.form-icon i.material-icons {
  color: #828a9b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  font-size: 19px
}

.form-icon input[type=text],.form-icon input[type=email] {
  padding-left: 54px
}


a.button, .checkout-button, input[type=submit] {
	padding: 18px $half-space;
	display: inline-block;
	border-radius: $border-radius;
	background: $brand-color;
	color: #fff;
	border: 0;
	transition: $transition-duration background-color ease, $transition-duration color ease;
	cursor: pointer;

	&.wide {
		width: 100%;
		margin-bottom: 20px;
	}

	&:hover,
	&.light.dark-hover:hover {
		background-color: $dark-accent;
	}

	&.keep-text-size {
		font-size: inherit;
	}

	&.no-side-padding {
		padding-left: 0;
		padding-right: 0;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-hover {
		&,
		&.light,
		&.dark {
			&:hover {
				background: none;
			}
		}
	}

	&.no-border {
		&,
		&.light {
			border: 0;
    }
	}

	&.dark {
    background: $brand-color;
    color: #fff;
		border: 1px solid $brand-color;

		&.brand {
			background: $brand-color;
		}

		&:hover {
      background: $dark-accent;
      color: #fff;
		}

		&.no-border {
      border: 0;
    }
    &.no-border-radius {
      border-radius: 0;
    }
	}

	&.dark-blue {
		background-color: $cta-background-color;

		&:hover {
			background: $brand-color;
		}
	}

	&.shadow {
		box-shadow: $large-box-shadow;
	}

	&.light {
		background: #FFF;
		color: $light-accent;
		border: 1px solid $light-accent;

		&:hover {
      		color: $text-color;
			background-color: $light-shade;
		}
	}
	&.business {
		background-color: $business-color;	
		&:hover {
			background-color: $business-color-light-accent;
		}
	}

	
}

a.button+a.button.alt {
  display: block;
  margin: 30px auto;
  width: fit-content;

	@media #{$mid-point}{
		display: inline-block;
		margin-left: 20px;
		margin-top: 0;
	}
}

.go-away {
  margin-bottom: 40px;
}
