ul.benefits {
  -webkit-padding-start: 0;
  padding-left: 0;
  li {
    padding-bottom: 10px;
  }
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}

		.benefits {
			li {
        list-style-type: none;
			}
		}

		ul.benefits {
			-webkit-padding-start: 0;
			padding-left: 0;

		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


.hero {
	text-align: center;

	@media only screen and (min-width: $tablet-min) {
		padding-bottom: 0;
	}

	@media only screen and (min-width: $desktop-min) {
		padding-bottom: 0;
	}
  .wrapper {
    padding-bottom: 0;
  }
	.subtitle {
		max-width: 400px;
	}
}

.hero-cta {
	padding: 40px 0 0;
}


.landing-video {
	border: 10px solid #fff;
	border-radius: $border-radius;
	line-height: 0;
	overflow: hidden;
	position: relative;
	margin-bottom: -250px;
	box-shadow: $large-box-shadow;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}